<div class="view">
  <img src="../../../assets/logo.png" alt="" class="brand">
  <div>
    <h1>Hello,</h1>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>User ID</mat-label>
        <input matInput placeholder="Placeholder" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Placeholder" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <button mat-flat-button color="primary">Sign in</button>
  </div>
</div>
